  .Row {
      width: 100%;
      height: auto;
      display: inline;
      margin: 10px;
  }
  
  .Ext {
      float: left;
      width: auto;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }
  
  .Col {
      width: auto;
      padding: 10px;
  }