.CadastrarColaborador {
    float: right;
    margin-left: 15px !important;
    background: #b1000f !important;
}

.Col {
    width: 100%;
}

.Dropdown {
    width: 100%;
    margin-top: 6px;
    margin-right: 3%;
    float: left;
}