.CadastrarExpediente,
.LimparExpediente {
    float: right;
    margin-left: 15px !important;
}

.CadastrarExpediente {
    background: #b1000f !important;
}

.Nome {
    width: 100%;
}

textarea {
    width: 100%;
}

.Col {
    width: 100%;
}