.Funcao {
    float: left;
    width: 100% !important;
    margin-right: 3%;
    display: table;
}

.Funcao input {
    margin-top: 10px;
    height: 30px;
}

.Dropdown-control {
    width: 100%;
    margin-top: 6px;
    margin-right: 3%;
    float: left;
}

.Checkbox {
    min-width: 10%;
    display: flex;
}

.CadastrarFuncao,
.LimparFuncao {
    float: right;
    margin-left: 15px !important;
}

.CadastrarFuncao {
    background: #b1000f !important;
}

.Col {
    width: 100%;
}