.Header {
    grid-area: h;
    min-width: 10%;
    min-height: 10%;
}

.Main {
    grid-area: m;
    min-width: 10%;
    min-height: 10%;
}

.Aside {
    grid-area: a;
    min-width: 10%;
    min-height: 10%;
}

.Grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: "h h" "a m";
    grid-gap: 10px;
    padding: 10px;
}