.Login {
    width: 20%;
    height: auto;
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.Login-Group {
    margin-top: 10px;
}

.Span {
    float: left;
    margin-left: 10px;
}

.Login-Field {
    border: none;
    background: rgba(0, 0, 0, .25);
    color: #fdfdfd;
    margin-top: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 100%;
    transition: all .1s linear;
}

.Login-Field:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
    outline: none;
}

.Login-Error {
    color: #b1000f;
}

.Login-Btn {
    background: #b1000f;
    color: #fdfdfd;
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
}

.Login-Btn:hover {
    cursor: pointer;
    background: #cf5a64;
}

.LoginLogo {
    text-align: left;
    max-width: 100%;
    display: block;
    float: left;
    margin-bottom: 20px;
}