@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.Container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center
}

.hide {
    display: none;
}

.Menu {
    width: 70%;
    height: 50%;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center
}

.MenuRight {
    width: 75%;
    float: right;
    height: 80%;
}

.MenuList {
    list-style-type: none;
    display: flex;
    float: right;
}

.MenuListItem {
    display: inline;
    float: right;
}

.MenuListItem:last-child {}

.MenuLink {
    color: #3a3e47;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    padding: 25px;
}

.MenuLinkLogout {
    color: #b1000f;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
}

.MenuLink:hover {
    color: #b1000f;
}

.MenuLinkLogout:hover {
    color: #3a3e47;
}

.MenuLink--active {
    color: #ffaa3b;
    border-top: 4px solid #ffaa3b;
    font-weight: 700;
}

.MenuLogo {
    text-align: left;
    max-width: 20%;
    max-height: 100%;
    display: block;
    float: left;
}