.Title {
    border-radius: 8px;
    padding: 10px;
}

.Title p {
    margin-left: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 2.8em;
    letter-spacing: -0.8px;
    word-spacing: 4px;
    color: #3a3e47;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}