.Page {
    width: 70%;
    min-height: 500px;
    height: 50%;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
}