input:focus {
    border-color: #b1000f !important;
}

.Apelido,
.Nome,
.Email,
.Rg,
.Cpf,
.DataNascimento {
    padding-top: 10px;
    padding-bottom: 10px;
}

.Apelido {
    float: left;
    margin-top: 6px;
    margin-left: 2%;
    min-width: 30%;
    display: table;
}

.Nome {
    float: left;
    min-width: 65%;
    margin-top: 6px;
    margin-right: 3%;
    display: table;
}

.Email,
.Rg,
.Cpf {
    float: left;
    min-width: 28%;
    margin-right: 5%;
    display: table;
}

.DataNascimento {
    max-width: 40%;
}

.DataLabel {
    margin-bottom: 25px !important;
}

.CadastrarPessoa,
.LimparPessoa {
    float: right;
    margin-left: 15px !important;
}

.CadastrarPessoa {
    background: #b1000f !important;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.Col {
    width: 100%;
}

input {
    width: 100%;
}

.Pessoa {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table {
    width: 100%;
}

td,
th {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    text-align: left;
    background-color: #b1000f34;
    color: black;
    width: auto;
}

.Ativo {
    color: green;
}