/* Style inputs, select elements and textareas */

.Nome {
    width: auto;
}

.CadastrarSetor {
    float: right;
    margin-left: 15px !important;
    float: inline-end;
    background: #b1000f !important;
    position: relative;
    bottom: -15px;
}

.Col {
    width: 100%;
}